<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59737232307-tf6vmhit3itgf508ki2rh1jsttkdbmec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59737232307-tf6vmhit3itgf508ki2rh1jsttkdbmec</string>
	<key>API_KEY</key>
	<string>AIzaSyAy3KEkFbK2WEuCaxY-9mjP5FA5bKJVfwo</string>
	<key>GCM_SENDER_ID</key>
	<string>59737232307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riveroverflow.menager</string>
	<key>PROJECT_ID</key>
	<string>menager-ae264</string>
	<key>STORAGE_BUCKET</key>
	<string>menager-ae264.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59737232307:ios:e8d448739bcc7c813671c6</string>
</dict>
</plist>